body {
  font-family: Arial, sans-serif;
  background-color: #a2f097;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 40px auto;
  background: rgb(219, 48, 48);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 8px;
}

select {
  padding: 8px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.filters button {
  margin-right: 5px;
}