body {
  background-color: black;
  color: white;
  font-family: Arial;
  margin: 40px;
}

h1 {
  color: lightblue;
}

input {
  padding: 8px;
  background-color: #222;
  color: white;
  border: 1px solid gray;
}

button {
  padding: 8px 15px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #1a1a1a;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #333;
}

li.done span {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  float: right;
}

.empty {
  color: gray;
  text-align: center;
  padding: 20px;
}

p {
  color: gray;
  margin-top: 30px;
}